@charset "utf-8";

/* 样式重置 */
body,
h1,h2,h3,h4,h5,h6,
p,
dl,dd,dt,
ul,ol,li,
form,input,textarea,select,
table,tr,td{  margin: 0;  padding: 0;}

em{font-style: normal;}
li{list-style: none;}
a{text-decoration: none; color: #999999;}
img{border: none;vertical-align: top;}
table{border-collapse: collapse;}
input,textarea{outline: none;}
textarea{resize: none;overflow: auto;}
body{font-size:12px;font-family: "微软雅黑";}

/*public*/
/* 清除浮动 */
.clear{zoom:1;}
.clear:after{content: '';display: block;clear: both;}
.fl{float: left;}
.fr{float: right;}

/* 渐变 */
.gradient{  background: -moz-linear-gradient(top,#ffffff,#f8f8f8);  background:-webkit-linear-gradient(top,#ffffff,#f8f8f8);  background:-ms-linear-gradient(top,#ffffff,#f8f8f8);  -ms-filter:"progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=0 )";  +background: #f9f9f9;}
/* layout */
/* 对公共样式进行包装 */
#header,#nav,.content{width: 960px;margin: 0 auto;}
#search,.section,.side_section,.side_ad,#footer{border: 1px solid #dbdbdb;border-radius:6px;}



#header{  height: 30px; line-height: 30px; border-radius: 0 0 6px 6px;}
#nav {   height: 100px;  background: #ffc;}
#search{  width: 958px;  height: 114px;  margin: 0 auto 10px;  }
#search .bar{}
.content{ }
.main{width: 710px;}
.main_wrap {padding-bottom:10px;}
.section{width: 318px;height: 200px;padding: 0 15px;}
.options{width: 350px;height: 200px;position: relative;}
.main_ad{margin-bottom: 10px;overflow: hidden;border-radius: 6px;}
.side{width: 240px;}
.side_section{height: 200px;margin-bottom: 10px;padding:0 12px;}
.side_ad{overflow: hidden; margin-bottom: 10px;}
#footer{width: 958px;height: 80px;margin:0 auto 10px;}

/*main区域内的选项卡功能实现*/
.options .options_tab{height: 34px; position: relative;z-index: 2;}
.options .options_tab li{width: 172px;height: 33px;border: 1px solid #dbdbdb;border-bottom: none;border-radius:6px 6px 0 0;}
.options .options_tab .active{width: 172px;height: 34px;background: #ffffff;}
.options .options_con{width: 348px;height:100px;border:1px solid #dbdbdb;border-radius: 0 0 6px 6px;position: absolute;top: 34px;left:0;z-index: 1;}

/* header相关信息 */
#header .city{float: left;padding-left:20px;}
#header .city a {display:inline-block;padding:0 7px;height:18px;line-height: 18px;border:1px solid #e5e5e5;border-radius:2px;box-shadow: 1px 1px 0 #ededed;} 
#header .city a.active{color:#d60d03;}
#header .city a:hover {background: #f1f1f1;} 

#header .link{float:right;word-spacing: 4px;color:#d5d5d5; padding-right:30px; }
#header .link a {display:inline-block;height:15px;line-height: 15px;color:#656565;background: url(../images/header_ico.png) no-repeat;text-indent: 20px;} 
#header .link a:hover {text-decoration: underline;}

#header .link .ico1{background-position: 0 2px;}
#header .link .ico2{background-position: 0 -36px;}